/* General layout */

.BGMain {
  min-height: 100%;
  margin-bottom: 6em; /* must be the same height as footer */
  background-image: url("../images/bg-top.png"), url("../images/bg-bottom.png");
  background-size: contain, contain;
  background-position: top left, bottom left;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: 0;
  padding-bottom: 0;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #3E2623;
}

main {
  clear: both;
  padding-top: 0.5em;
}

footer {
  clear: both;
  background-image: linear-gradient(to top right, #1CFFFF, #00BFA5);
  padding: 2em 1em 2em 1em;
}

header,
section {
  clear: both;
  padding: 1em;
}

section {
  min-height: 10em;
  margin-top: 1em;
  padding-bottom: 4em;
}

/* Background Selection */

.BGRight {
  background-image: url("../images/bg-right.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.BGBottom {
  background-image: url("../images/bg-bottom.png");
  background-position: bottom, left;
  background-repeat: no-repeat;
  background-size: contain;
}

.BGBottomUp {
  background-image: url("../images/bg-bottom-up.png");
  background-position: bottom, left;
  background-repeat: no-repeat;
  background-size: contain;
}

#references {
  background-image: linear-gradient(to top right, #1CFFFF, #00BFA5);
}

/* Visual styles */

img {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.right {
  float: right;
}

.icon{
  width: auto;
  max-width: 100px;
  min-width: 80px;
  margin: 0.2em;
  padding: 0.4em;
  float: left;
  transition: ease;
  transition-duration: 1s;
}

.icon:hover {
transform: rotateZ(20deg);
}

/* Header layout */

.left-head {
  float: left;
}

/* Text styles */

p,
h1,
h2,
h3,
h4,
em,
q,
blockquote {
  max-width: 80em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1em;
  padding-top: 0.2em;
}

h2 {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1em;
}

h3 {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 2em;
  font-weight: 300;
}

h4 {
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 1.4em;
  font-weight: 300;
}

em {
  font-weight: 700;
  color: #004D40;
  font-style: normal;
}

li {
  list-style-image: url("../images/icon-list.png");
  padding-left: 0.4em;
}

sub {
  font-size: 0.6em;
  line-height: 0.2em;
}

cite {
  font-size: 0.8em;
  line-height: 0.4em;
  font-style: italic;
  font-weight: 500;
}

q {
  color: #004D40;
  font-weight: 300;
}

.comment {
  z-index: -1;
  transform: skewY(-6deg);
  font-family: 'Caveat', cursive;
  font-size: 1.4em;
  margin-top: -1em;
  margin-left: 2em;
  color: #00BFA5;
  max-width: 60em;
}

abbr {
  border-bottom-style: dotted;
  border-bottom-color: #00838F;
  border-bottom-width: thin;
}

mark {
  background: #1CFFFF;
}

.pquote,
.pquoteLeft {
      float: right;
      width: 8em;
      font-size: 1.4em;
      font-weight: thin;
      font-style: italic;
      background: url(../images/openquote.png) top left no-repeat;
      padding: 1em;
      margin: 0;
  }

.pquoteLeft {
  float: left;
}

.pquoteLeft p::first-letter,
.pquote p:first-letter {
    font-size: 1.8em;
    font-weight: bold;
}

/**
Buttons and interactivity
**/

nav {
  float: right;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em 0.5em 1em 0.5em;
}

.menu{
  width: auto;
  padding: 0.3em 0.6em 0.4em 0.6em;
  margin: 0.2em;
  font-weight: 500;
  text-align: right;
}

a {
  color: #00838F;
  font-weight: inherit;
  text-decoration: none;
  border-radius: 10em;
  /*background-color: rgba(1, 1, 100, 0.2);*/
}

a:hover{
  text-decoration: underline;
}

.active {
  color: #00838F ;
  font-weight: 700;
  border-left-width: thick;
  border-left-style: solid;
  border-right-width: thick;
  border-right-style: solid;
  border-radius: 10em;
  border-color: #00BFA5;
  background-color: #EFEBE9 ;
}

.cta{
  color: #E91D63;
}

.btn,
.btnCta,
.btnSecundary {
  clear: both;
  display: block;
  background-color: #00838F;
  color: white;
  padding: 0.2em 0.6em 0.2em 0.6em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 3em;
  font-weight: 500;
  max-width: 18em;
  text-decoration: none;
  border-radius: 100em;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.btnSecundary {
  color: #00838F;
  background-color: rgba(1,1,1,0);
  border-color: #00838F;
  border-width: medium;
  margin: 0;
  margin-top:0.2em;
}

.btnCta{
  background-color: #E91D63;
}

.btn:hover,
.btnCta:hover,
.btnSecundary:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

::selection {
  background: #63FFDA; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #63FFDA; /* Gecko Browsers */
}

/**
References
**/

/*.refSection{
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 50em;
  min-width: 10em;
  display: block;
}*/

/**
Javascript specific styles
**/

.JSTrigger {
  display: none;
  padding: 0.3em 0.6em 0.3em 0.6em;
  margin: -0.3em -0.6em -0.3em -0.6em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

#switch {
  font-size: 0.8em;
}

.hint {
  margin: auto;
  padding-right: 0.2em;
  max-height: 12px;
  max-width: 12px;
}

.flexList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  margin-top: 2em;
}

.flexDeliverable {
  margin-top: 0em;
}

.references {
  align-items: stretch;
}

.social {
  width: 3em;
  height: 3em;
  margin: 1em;
  padding: 0;
  transition: ease;
  transition-duration: 1s;
}

.social:hover {
transform: rotateZ(380deg);
}

.flexText{
  width: auto;
  max-width: 20em;
  min-width: 8em;
  margin: 0.2em;
  margin-top: 0.5em;
  padding: 1em;
}

.flexHalf{
  max-width: 30em;
}

.flexFull {
  max-width: 60em;
  padding:1em;
}

.flexBG {
  background-color: rgba(255,255,255,0.90);
}

/*
Case studies styles
*/

.case {
  max-width: 18em;
  /*max-height: 10em;*/
}

.visualIntro {
  margin: 0;
  padding: 0;
}

.VisualIntroImg {
  display: block;
  margin: auto;
  margin-top:1em;
}

/*#persona {
  background-image: url("../images/deliverables-persona-front.png");
  background-position: center;
  background-attachment: fixed;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 40em;
  width: 100%;
}

#experienceMaps {
  background-image: url("../images/deliverables-journeymap.png");
  background-position: center;
  background-attachment: fixed;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 40em;
  width: 100%;
}

#informationArchitecture {
  background-image: url("../images/deliverables-informationArchitecture-tree.png");
  background-position: center;
  background-attachment: fixed;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 40em;
  width: 100%;
}*/

#collaborativeIdeation {
  background-image: url("../images/deliverables-workshop.jpg");
  background-position: center;
  background-attachment: fixed;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 40em;
  width: 100%;
}

#wireframing-01 {
  background-image: url("../images/deliverables-wireframe-01.png");
  background-position: center;
  background-attachment: fixed;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 40em;
  width: 100%;
}

#wireframing-02 {
  background-image: url("../images/deliverables-wireframe-02.png");
  background-position: center;
  background-attachment: fixed;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 15em;
  width: 100%;
}

#wireframing-03 {
  background-image: url("../images/deliverables-wireframe-03.png");
  background-position: center;
  background-attachment: fixed;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 15em;
  width: 100%;
}

#wireframing-04 {
  background-image: url("../images/deliverables-wireframe-04.png");
  background-position: center;
  background-attachment: fixed;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 15em;
  width: 100%;
}

#wireframing-05 {
  background-image: url("../images/deliverables-wireframe-05.png");
  background-position: center;
  background-attachment: fixed;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 40em;
  width: 100%;
}

/*#persona,
#experienceMaps,*/
#collaborativeIdeation,
/*#informationArchitecture,*/
#wireframing-01,
#wireframing-02,
#wireframing-03,
#wireframing-04,
#wireframing-05 {
  border-top-color: #1CFFFF;
  border-top-width: thick;
  border-top-style: solid;
  border-bottom-color: #1CFFFF;
  border-bottom-width: thick;
  border-bottom-style: solid;
  align-content: center;
}

/*------------------------------*\
    Grid System
\*------------------------------*/

.row,
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    display: block;
}

.column + .column {
    margin-left: 1.6%;
}

.column-1 {
    width: 6.86666666667%;
    padding: 0;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-left: 0;
}



.paralax {
    background-image: url("../images/Paralax1.png");
    background-position: bottom left;*/
    background-clip: border-box;
    background-repeat: no-repeat;
    z-index: 2;
    width: 16em;
    min-height: 30em;
    margin-bottom: -2em;
}


@media only screen and (max-width: 1200px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
        float: none;
        width: auto;
        margin: 0;
    }

    .column + .column {
        margin-left: 0;
    }

    .right {
      max-width: 50%;
    }

    .hint {
      margin: auto;
      padding-right: 0.2em;
    }

    .paralax {
        background-image: url("../images/Paralax1.png");
        background-position: bottom right;
        background-clip: border-box;
        background-repeat: no-repeat;
        z-index: 2;
        width: 60%;
        min-height: 20em;
        margin-bottom: -3em;
    }

    .flexList{
      justify-content: center;
      margin: auto;
    }

    #persona {
      padding-top: 15em;
      padding-bottom: 15em;
    }
}

@media only screen and (max-width: 700px) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        float: none;
        width: 100%;
        margin: 0;
    }

    .column + .column {
        margin-left: 0;
    }

    .menu {
        float: none;
        display: block;
        width: 100%;
        background-color: #EFEBE9
    }

    .JSTrigger{
        display: none;
        padding: 0.3em 0.6em 0.4em 0.6em;
        margin-left: 50%;
        margin-top: 1em;
        width: 50%;
    }

    nav {
        float: none;
        display: block;
        margin: auto;
        width: 100%;
        margin-top: 1em;
    }

    .right{
      float: none;
      display: block;
      margin: auto;
      margin-top: 2em;
      max-width: 60%;
    }

    .flexList{
      justify-content: center;
      margin: auto;
    }

    .icon{
      padding: 0;
      margin: 1em;
    }

    .hint {
      margin: auto;
      padding-right: 0.2em;
    }

    section {
      padding-top: 0;
    }

    h3{
      padding-top: 0;
    }

    .paralax {
        background-image: url("../images/Paralax1.png");
        background-position: bottom;
        background-clip: border-box;
        background-repeat: no-repeat;
        z-index: 2;
        width: 80%;
        min-height: 15em;
        margin-bottom: -4em;
    }

}

/*------------------------------*\
    Show Grid System
\*------------------------------*/

/*.column {
    background: rgba(1, 100, 100, 0.2);
    border: 1px solid #cec;
    color: #777;
    padding: 0;
    min-height: 2em;
}*/

.accessibility {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
